# --- Python Specifics ---
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.db
*.sqlite3

# --- Node/Frontend Specifics ---
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.stylelintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Environment & Secrets ---
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# --- IDE & System Files ---
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# --- Docker ---
.docker/